.btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;

  &.btn-radio {
    display: flex;
    align-items: center;

    width: auto;
    border-radius: 50%;
    text-decoration: none;

    -webkit-box-shadow: -1px 3px 10px -2px rgba(79,79,79,1);
    -moz-box-shadow: -1px 3px 10px -2px rgba(79,79,79,1);
    box-shadow: -1px 3px 10px -2px rgba(79,79,79,1);
    i {
      margin: auto;
      display: inline;
    }
    
    &.max {
      width: 70px;
      height: 70px;
      & i {
        font-size: 35px;
      }

    }

    &.min {
      padding: 0;
      width: 18px;
      height: 18px;
      & i {
        font-size: 10px;
      }
    }
  }
  &.btn-primary, &.btn-fine{
    color: white;
    background: $primary;
    cursor: pointer;
    &:hover {
      background: $fine-second;

      -webkit-box-shadow: -1px 3px 10px -2px rgba(90,230,202,1);
      -moz-box-shadow: -1px 3px 10px -2px rgba(90,230,202,1);
      box-shadow: -1px 3px 10px -2px rgba(90,230,202,1);
    }
  }

  &.btn-warning{
    color: white;
    background: $warning;
    cursor: pointer;
    &:hover {
      background: $warning-second;

      -webkit-box-shadow: -1px 3px 10px -2px $warning-second;
      -moz-box-shadow: -1px 3px 10px -2px $warning-second;
      box-shadow: -1px 3px 10px -2px $warning-second;
    }
  }

  &.btn-danger {
    color: white;
    background: $danger;
    cursor: pointer;
    &:hover {
      background: $danger-second;

      -webkit-box-shadow: -1px 3px 10px -2px rgba(255,151,151,1);
      -moz-box-shadow: -1px 3px 10px -2px rgba(255,151,151,1);
      box-shadow: -1px 3px 10px -2px rgba(255,151,151,1);
    }
  }
}