.btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;

  &.btn-radio {
    display: flex;
    align-items: center;

    width: auto;
    border-radius: 50%;
    text-decoration: none;

    -webkit-box-shadow: 2px -2px 15px -1px $text-primary;
    -moz-box-shadow: 2px -2px 15px -1px $text-primary;
    box-shadow: 1px 1px 10px -2px $text-primary;
    i {
      margin: auto;
      display: inline;
    }
    
    &.max {
      width: 70px;
      height: 70px;
      & i {
        font-size: 35px;
      }

    }

    &.middle {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      & i {
        font-size: 15px;
      }

    }

    &.min {
      padding: 0;
      width: 18px;
      height: 18px;
      & i {
        font-size: 10px;
      }
    }

    &.btn-warning {
      -webkit-box-shadow: 2px -2px 15px -1px $warning;
      -moz-box-shadow: 2px -2px 15px -1px $warning;
      box-shadow: 1px 1px 10px -2px $warning;
    }

    &.btn-danger {
      -webkit-box-shadow: 2px -2px 15px -1px $danger;
      -moz-box-shadow: 2px -2px 15px -1px $danger;
      box-shadow: 1px 1px 10px -2px $danger;
    }

    &.btn-primary, &.btn-fine {
      -webkit-box-shadow: 2px -2px 15px -1px $primary;
      -moz-box-shadow: 2px -2px 15px -1px $primary;
      box-shadow: 1px 1px 10px -2px $primary;
    }
  }
  &.btn-primary, &.btn-fine{
    color: white;
    background: $primary;
    cursor: pointer;

    &:hover {
      background: $fine-second;

      -webkit-box-shadow: -1px 3px 10px -2px rgba(90,230,202,1);
      -moz-box-shadow: -1px 3px 10px -2px rgba(90,230,202,1);
      box-shadow: -1px 3px 10px -2px rgba(90,230,202,1);
    }
  }

  &.btn-warning{
    color: white;
    background: $warning;
    cursor: pointer;

    &:hover {
      background: $warning-second;

      -webkit-box-shadow: -1px 3px 10px -2px $warning-second;
      -moz-box-shadow: -1px 3px 10px -2px $warning-second;
      box-shadow: -1px 3px 10px -2px $warning-second;
    }
  }

  &.btn-danger {
    color: white;
    background: $danger;
    cursor: pointer;

    &:hover {
      background: $danger-second;

      -webkit-box-shadow: -1px 3px 10px -2px rgba(255,151,151,1);
      -moz-box-shadow: -1px 3px 10px -2px rgba(255,151,151,1);
      box-shadow: -1px 3px 10px -2px rgba(255,151,151,1);
    }
  }

}

.btn-link {
  padding: 0;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  &.link-primary {
    color: $primary !important;
    &:hover {
      color: $fine-second !important;
    }
  }
  &.link-warning {
    color: $warning;
    &:hover {
      color: $warning-second;
    }
  }
  &.link-danger {
    color: $danger;
    &:hover {
      color: $danger-second;
    }
  }
}

.btn-nav {
  display: none;
  z-index: 2;
  position: fixed;
  top: 120px;
  border: 0;
  padding: 5px 10px;
  font-size: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: $primary;
  color: white;
  cursor: pointer;

  -webkit-box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
  -moz-box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
  box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);

  &:hover {
    background: $fine-second;
  }
}

