.flex {
  display: flex;
  &.align-items-center {
    align-items: center;
  } 
}

.grid {
  display: grid;
  &.gap-15 {
    gap: 60px ;
  }
  
  &.col-3 {
    grid-template-columns: auto auto auto;
  }

  &.col-2-of-35-auto {
    grid-template-columns: 35% auto;
  }

  &.col-2-of-20-80 {
    grid-template-columns: 20% 80%;
  }
}

.flex, .grid {
  &.justify-between {
    justify-content: space-between; 
  }
}