.flex {
  display: flex;
  &.align-items-center {
    align-items: center;
  }
  &.align-items-end {
    align-items: flex-end;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.grid {
  display: grid;
  &.gap-15 {
    gap: 60px ;
  }

  &.col-gap-15 {
    column-gap: 15px;
  }
  
  &.col-3 {
    grid-template-columns: auto auto auto;
  }

  &.col-2-of-35-auto {
    grid-template-columns: 35% auto;
  }

  &.col-2-of-20-80 {
    grid-template-columns: 20% 80%;
  }

  &.col-2-of-30-70 {
    grid-template-columns: 27% 73%;
  }
}

.flex, .grid {
  &.justify-between {
    justify-content: space-between; 
  }

  &.justify-center {
    justify-content: center;
  }
}