.card {
  
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  
  -webkit-box-shadow: -1px 3px 16px -1px rgba(79,79,79,1);
  -moz-box-shadow: -1px 3px 16px -1px rgba(79,79,79,1);
  box-shadow: -1px 3px 16px -1px rgba(79,79,79,1);
}

.max-width-600 {
  max-width: 600px; 
}