form.post { 
  background: $primary;
  border-top: 3px solid $primary;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  margin: 10px 0;

  .field-date {
    // padding: 5px ;
    .input {
      display: flex;
      align-items: center;
      
      input {
        padding:0 10px;
        font-size: 20px;
        border: none;
        background: transparent;
        color: white;

        &::-webkit-inner-spin-button { 
          display: none; 
        }
        &::-webkit-calendar-picker-indicator { 
          color: white;
          &:hover {
            background: none;
            color: $background-form;
          } 
        }
      }
      label {
        i {
          color: white;
          font-size: 30px;
        }
      }
    }
  }

  .field-users {
    position: relative;
    background: $fine-second;
    display: flex;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    .options-users {
      z-index: 1;
      position: absolute;
      top: 40px;
      left: 0;
      max-width: 500px;
      min-width: 200px;

      -webkit-box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
      -moz-box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
      box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);

      background: white;

      display: grid;
      grid-template-columns: auto auto auto auto auto auto;

      padding: 5px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;

      button.option{
        margin: 3px 5px;
        padding: 0;
        border: 0;
        cursor: pointer;
      }
    }
  }

  .post-head {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    font-weight: 500;
  }

  .post-content {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 15px;
    background: $background-form;
    
    height: 80px;
    max-height: 80px; 
    min-height: 80px;
    resize: vertical;
    display: block;
    
    &.post-height-max {
      height: 120px !important;
      max-height: 120px !important; 
      min-height: 120px !important;
    }

    &::placeholder {
      color: $text-second;
    }
    &:focus {
      outline: 0;
      &:has(.post) {
        background: $fine-second;
      }
    }
  } 
  .post-options {
    button.btn-post {
      z-index: 2;

      display: block;
      padding: 0 10px;
      border: none;
      background: transparent;
      color: white;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: $text-second;
      }
      &.active {
        background: white;
        color: $text-primary;
      }
    }
    &.inline-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &.position-end {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
  }
}