.form {
  .field{
    padding: 15px 0;
    position: relative;
    &.field-double {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .input {
        flex: 1;
        &:nth-child(1) {
          margin-right: 20px;
        }
      }
    }

    .input-file, .input {
      input, textarea, label.file {
        width: 100%;
        border:none;
        border-bottom: 3px solid $primary;
        padding: 5px;
      }
    }

    .input {
      input, textarea {
        
        &::placeholder {
          color: $text-second;
        }
        &:focus {
          outline: 0;
          background: $background-form;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom: 3px solid $fine-second;
        }
      }
      textarea {
       height: 80px;
       max-height: 100px; 
       min-height: 50px;
       resize: vertical;
       display: block;
      }
      label {
        color: $text-primary;
      }
    }

    .input-file {
      input {
        display: none;
      }

      label.file {
        display: flex;
        align-items: center;
        color: $text-second;
        cursor: pointer;

        background: $background-form;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 3px solid $fine-second;

        .placeholder {
          padding: 0 20px;
        }

        i {
          font-size: 20px;
        }

        &:hover {
          border-bottom: 3px solid $primary;
          i {
            color: $primary;
          }
        }
      }
    }

    .input-checkbox {
      position: relative;
      input {
        display: none;
        &:checked + label {
          transition: ease .3s all;
          background: $primary;
          color: white;
          padding:0px 12px;
          border-radius: 4px;
          &:before {
            transition: ease .3s all;

            display: none;
          }
        }
      }
      label {
        transition: ease .3s all;
        color: $primary;
        cursor: pointer;
        &:before {
          content: '';
          padding: 6px;
          border: 2px solid $primary;
          border-radius: 4px;
          position: absolute;
          left: 50px;
          top: 4px;
        }
        
      }
    }

    .search-container, .input-container {
      background: $background-form;
      border-radius: 5px;
      padding: 15px; 

      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-between;
      gap: 30px;
    }

    .search-container {
      border-radius: none;
      border-bottom-left-radius: 10px; 
      border-bottom-right-radius: 10px;

      width: 100%;
      position:absolute;
      top: 53px;
    }

  }
}