// Estilo de formularios
.form {
  
  // Estilos de div que contiene todos los inputs estandar
  .field{
    padding: 15px 0;
    position: relative;
    &.field-double {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .input {
        flex: 1;
        &:nth-child(1) {
          margin-right: 20px;
        }
      }
    }

    .input-file, .input {
      input, textarea, label.file {
        width: 100%;
        border:none;
        border-bottom: 3px solid $primary;
        padding: 5px;
      }
    }

    // Estilos que contien los componenetes de input (text, textarea, email, password)
    .input {
      input, textarea {
        
        &::placeholder {
          color: $text-second;
        }
        &:focus {
          outline: 0;
          background: $background-form;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom: 3px solid $fine-second;
        }
        &.border-danger {
          border-bottom: 3px solid $danger;
          &:focus {
            border-bottom: 3px solid $danger-second;
          }
        }
      }
      textarea {
       height: 80px;
       max-height: 100px; 
       min-height: 50px;
       resize: vertical;
       display: block;
      }
      label {
        color: $text-primary;
      }

      // Estilo que agrega un icono al <input>  
      .box-input {
        display: flex;
        align-items: center;
        
        padding: 5px 0px 0px 10px;
        background: $background-form;
        border-bottom: 3px solid $primary;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        input {
          background: transparent;
          border-bottom: none;
          padding-left:10px;
        }

        i {
          color: $primary;
          font-size: 20px;
        }
      }
    }

    // Estilos que contien los componenetes inputs (file)
    .input-file {
      input {
        display: none;
      }

      label.file {
        display: flex;
        align-items: center;
        color: $text-second;
        cursor: pointer;

        background: $background-form;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 3px solid $fine-second;

        .placeholder {
          padding: 0 20px;
        }

        i {
          font-size: 20px;
        }

        &:hover {
          border-bottom: 3px solid $primary;
          i {
            color: $primary;
          }
        }
      }
    }

    // Estilos que contien los componenetes inputs (checkbox)
    .input-checkbox {

      label {
        transition: ease .3s all;
        color: $primary;
        cursor: pointer;
        &:before {
          content: '';
          padding: 6px;
          border: 2px solid $primary;
          border-radius: 4px;
          position: absolute;
          left: 50px;
          top: 4px;
        }
        
      }
    }

    // Estilos que contien los componenetes inputs (radio)
    .input-radio {
      label {
        transition: ease .3s all;
        color: $primary;
        padding-left: 20px;
        cursor: pointer;
        &:after {
          content: '';
          padding: 6px;
          border: 2px solid $primary;
          border-radius: 50px;
          position: absolute;
          left: 0;
          top: 4px;
        }
        
      }
      
      // Estilos de radio de color warning
      &.warning {
        input:checked + label {
          background: $warning !important;
        }
        label {
          color: $warning;
          &:after {
            border: 2px solid $warning;
          } 
        }
      }
      
      // Estilos de radio de color danger
      &.danger {
        input:checked + label {
          background: $danger !important;
        }
        label {
          color: $danger;
          &:after {
            border: 2px solid $danger;
          } 
        }
      }
    }

    .input-radio, .input-checkbox {
      position: relative;
      input {
        display: none;
        &:checked + label {
          transition: ease .3s all;
          background: $primary;
          color: white;
          padding:0px 12px;
          border-radius: 4px;
          &:before {
            transition: ease .3s all;

            display: none;
          }

          &:after {
            transition: ease .3s all;

            display: none;
          }
        }
      }
    }

    .search-container, .input-container {
      background: $background-form;
      border-radius: 5px;
      padding: 15px; 

      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-between;
      gap: 30px;
    }

    // Estilos de contenedores que almacenar usuarios
    .search-container {
      border-radius: none;
      border-bottom-left-radius: 10px; 
      border-bottom-right-radius: 10px;

      width: 100%;
      position:absolute;
      top: 53px;
    }

  }
}