// Padding de 20px
.pd-20 {
  padding: 20px;
}

// Padding de 15px
.pd-15 {
  padding: 15px;
}

// Padding de 10px
.pd-10 {
  padding: 10px;
}

// Padding de 5px
.pd-5 {
  padding: 5px;
}

// Padding inferior de 5px
.pd-bottom-5 {
  padding-bottom: 5px;
}

// Padding superior de 20px
.pd-top-20 {
  padding-top: 20px !important;
}

// Padding superior de 5px
.pd-top-5 {
  padding-top: 5px;
}
 
// Padding superior de 30px
.pd-top-30 {
  padding-top: 30px;
}

// Padding inferior de 20px
.pd-bottom-20 {
  padding-bottom: 20px !important;
}

// Padding derecho de 15px
.pd-right-15 {
  padding-right: 15px !important;
}

// Padding derecho de 25px
.pd-right-25 {
  padding-right: 25px !important;
}

// Padding izquierdo de 15px
.pd-left-15 {
  padding-left: 15px !important;
}

// Padding izquierdo de 40px
.pd-left-40 {
  padding-left: 40px;
}

// Padding derecho de 5px
.pd-right-5 {
  padding-right: 5px !important;
}

// Margin superior de 15px
.mg-top-15 {
  margin-top: 15px;
}

// Margin superior de 20px
.mg-top-20 {
  margin-top: 25px;
}

// Margin izquierdo de 20px
.mg-left-15 {
  margin-left: 15px;
}

// Margin izquierdo de 25px
.mg-left-25 {
  margin-left: 25px;
}

// Margin derecho de 25px
.mg-right-25 {
  margin-right: 25px;
}

// Margin inferior-superior de 25px
.mg-tb-25 {
  margin: 25px 0;
}

// Margin auto
.mg-auto {
  margin: auto !important;
}

// Padding inferior-superior de 25px
.pd-tb-25 {
  padding: 25px 0;
}

// Margin inferior-superior de 5px
.pd-tb-5 {
  padding: 5px;
}

// Margin izquierdo-derecho de 10px
.pd-lr-5 {
  padding: 0 10px;
}

// Margin izquierdo-derecho de 50px
.pd-lr-50 {
  padding: 0 50px;
}
