.pd-20 {
  padding: 20px;
}

.pd-15 {
  padding: 15px;
}

.pd-10 {
  padding: 10px;
}

.pd-5 {
  padding: 5px;
}

.pd-bottom-5 {
  padding-bottom: 5px;
}

.pd-top-20 {
  padding-top: 20px !important;
}

.pd-top-5 {
  padding-top: 5px;
}
 
.pd-top-30 {
  padding-top: 30px;
}


.pd-bottom-20 {
  padding-bottom: 20px !important;
}

.pd-right-15 {
  padding-right: 15px !important;
}

.pd-right-25 {
  padding-right: 25px !important;
}

.pd-left-15 {
  padding-left: 15px !important;
}

.pd-left-40 {
  padding-left: 40px;
}

.pd-right-5 {
  padding-right: 5px !important;
}

.mg-top-15 {
  margin-top: 15px;
}

.mg-top-20 {
  margin-top: 25px;
}

.mg-left-15 {
  margin-left: 15px;
}

.mg-left-25 {
  margin-left: 25px;
}

.mg-right-25 {
  margin-right: 25px;
}

.mg-tb-25 {
  margin: 25px 0;
}

.mg-auto {
  margin: auto !important;
}

.pd-tb-25 {
  padding: 25px 0;
}

.pd-tb-5 {
  padding: 5px;
}

.pd-lr-5 {
  padding: 0 10px;
}


.pd-lr-50 {
  padding: 0 50px;
}
