.title {
  font-weight: 600;
  font-size: 35px;
  color: $text-primary;
}

.fs-18 {
  font-size: 18px
}

.fs-15 {
  font-size: 15px
}

.fs-25 {
  font-size: 25px
}

.fw-600 {
  font-weight: 600;
}
.text-center {
  text-align: center;
}

.color-primary {
  color: $primary;
}

.color-warning {
  color: $warning;
}

.color-danger {
  color: $danger;
}

.color-text {
  color: $text-primary;
}

.color-text-second {
  color: $text-second;
}

.link-btn {
  border: none;
  background: transparent;
  width: 5px;
  margin: auto;
  cursor: pointer;
}