@import '../variables.scss';

// Estlos de tarjeta de avatar

.avatar-card {
  background: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  
  display: flex;
  align-items: center;
  .info {
    padding: 0 10px;
    display: flex;
    .section {
      padding-right: 15px; 
    }
  }
}
