@import '../variables.scss';

// Estilo de tarjeta de evento

.event {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 3px solid $primary;
  &:nth-child(1) {
    margin-top: 20px;
  }
  .section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 25px;
      font-weight: 500;
    }
    .second {
      color: $text-second;
      font-size: 20px;
    }
  }
  .btn-dange {
    text-align: end;
  }
}