@import '../variables.scss';

// Estilo de menu responsivo de nav en settings

.nav-responsive {
  position: fixed;
  z-index: 100;
  top: 0;
  background: white;
  width: 100%;
  height: 100%;
  .header {
    box-shadow: none;
  }
  .in-config {
    border-top: 3px solid $primary;
    border-right: 0;
    margin: 10px;
    .menu {
      // padding-top: 25px;
      height: 79vh;
    }
  }
}