@import '../variables.scss';

.options-header {
  background: white;
  padding: 10px 20px 0px;
  position: absolute;
  top: 0;
  right: 0;

  -webkit-box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
  -moz-box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
  box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
  .options {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid $primary;
    margin-top: 15px;
    padding: 15px 0; 
  }
}