@import '../variables.scss';

// Estilo de la tarjeta de proyecto

.template {
  position: relative;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 70px;
  & > div.content {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    // align-content: space-evenly;
    // justify-content: space-evenly
  }
}

.section {
  // background: orange;
  .head-section {
    padding: 10px 0;
  }

  .main-section {
    padding: 5px;
    border-radius: 10px;
  }
}

.info {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
  display: grid;
  align-content: space-between;

  &.fine {
    background: $primary;
  }

  &.warning {
    background: $warning;
  }

  &.danger {
    background: $danger;
  }
  
}

.section-center {
  display: flex;
  justify-content: center;
  .title-project {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    &.fine {
      color: $primary;
      &:hover {
        color: $fine-second;
      }
    }

    &.warning {
      color: $warning;
      &:hover {
        color: $warning-second;
      }
    }

    &.danger {
      color: $danger;
      &:hover {
        color: $danger-second;
      }
    }
  }
}

// transiciones de card de notificaciones
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media screen and ( max-width: 700px ) {
  .card.not-padding.width-resp-100.template {
    border-radius: 0;
  }
  .info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}