@import '../variables.scss';

// Estlos de tarjeta de tarea

.card-task {
  display: flex;
  justify-content: space-between;
  padding: 0;
  .content-task {
    padding: 20px;
    .head-task {
      display: flex;
      align-items: center;
      .cont {
        padding-left: 30px;
        display: flex;
        flex-wrap: wrap;
        .img-avatar {
          padding-right: 8px;
        }
      }
      .link-btn {
        font-size: 20px;
        display: flex;
        align-items: center;
      }
    }
    .main {
      padding: 20px 0;
      padding-bottom: 0; 
      color: $text-primary;
    }
  }

  .menu {
    display: grid;
    .btn {
      border-radius: 0;
      padding: 12px;
      &:nth-child(1) {
        border-top-right-radius: 10px; 
      }
      &:nth-child(3) {
        border-bottom-right-radius: 10px; 
      }
    }
  }
  &.fine {
    background: $primary;
    -webkit-box-shadow: 1px 1px 10px -2px $primary;
    -moz-box-shadow: 1px 1px 10px -2px $primary;
    box-shadow: 1px 1px 10px -2px $primary;
  }
  &.danger {
    background: $danger;
    -webkit-box-shadow: 1px 1px 10px -2px $danger;
    -moz-box-shadow: 1px 1px 10px -2px $danger;
    box-shadow: 1px 1px 10px -2px $danger;
  }
  &.warning {
    background: $warning;
    -webkit-box-shadow: 1px 1px 10px -2px $warning;
    -moz-box-shadow: 1px 1px 10px -2px $warning;
    box-shadow: 1px 1px 10px -2px $warning;

  }

  &.fine, &.danger ,&.warning {
    color: white;
    
    .main, .link-btn { 
      color: white;
    }

    .btn-black {
      color: $text-primary;
    }

    .link-btn {
      &:hover {
        color: $text-second;
      }
    }
    
  }

}