@import './variables.scss';


// Todos los elementos titnen margin y padding -> 0
// El tanaño de los elementos son adaptables con los paddings y margins
// La fuente de la pagina es "Hind" o sans-serif 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}

// Diseño de header -> utilizar en todas las vistas, menos en login
.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: white;
  
  -webkit-box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
  -moz-box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);
  box-shadow: 2px -2px 15px -1px rgba(79,79,79,1);

  // Estilo de logo en textos. utilizar en tags: <a> o <router-link>
  .logo-text {
    color: $primary;
    text-decoration: none;
    font-size: 45px;
    font-weight: 700; 
  }

}

// Estilos para subheader. Solo utilizarlo en el project/show
.sub-header {
  z-index: -1;
  background: $primary;
  color: white;
  padding: 15px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  position: relative;
  button {
    color: white;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }
}

// Estilo de nav -> solo utilizarlo en settings/ y project/show 
nav {
  position: relative;
  border-right: 1px solid $primary;
  .menu {
    padding: 0 15px ;
    padding-top: 25px;
    height: 89vh;
 
    display: grid;
    align-content: space-between;
    .options {
      display: grid;
      row-gap: 25px;
    }

  }
  
}

// Estilo del contenedor de la vista del login. Solo utilizar en login/
.container-login {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  header {
    width: 100%;
    margin: auto;
    padding: 20px 0 40px 0;
    img.logo {
      display: block;
      margin: auto;
    }
  }
}

// Estilo de contenedo -> utilizar el toodas las vistas, menos en login
.container {
  width: 100%;
  max-width: 2000px;
  margin: auto;
}

// Icono de tareas -> solo se utiliza en project/show
#task_icon{
  display: none ;
}

@import './components/div.scss';
@import './components/text.scss';
@import './components/form.scss';
@import './components/buttons.scss';
@import './components/spacing.scss';
@import './components/display.scss';
@import './components/divPost.scss';
@import './components/response.scss';