$primary: #4ACBB2;
$error: #CB4A4A;
$warning: #E5E053;

$fine-second: #5AE6CA;
$error-second: #FF9797;
$warning-second: #FDF98A;

$text-primary: #4F4F4F;
$text-second: #959595;
$background-form: #E8E8E8;