// Colores primarios
$primary: #4ACBB2;
$danger: #CB4A4A;
$warning: #E5E053;

// Colores secondarios (hover)
$fine-second: #5AE6CA;
$danger-second: #FF9797;
$warning-second: #FDF98A;

// Colores de texto
$text-primary: #4F4F4F;
$text-second: #959595;

// Color de fondo de formulario
$background-form: #E8E8E8;